
.image-container {
    background-color: #471CA9;
    width: 300px;
    padding: 20px;
    
  }

  .image-container img {
    top: 0;
  }

  .image-container img:first-child {
    z-index: 1;
    position: relative;
    width: 300px;
  }

  .image-container img:last-child {
    z-index: 1;
  }

  